// Set main variables

$form-complete-border: true;
$form-show-label-if-value: true;
$form-place-hint-absolute: false;
$form-legend-text-align: left;
$form-line-start: left;
$form-set-will-change: false;

@import "Variables";
@import "allsub";
