// Set main variables

$form-complete-border: false;
$form-show-label-if-value: true;
$form-place-hint-absolute: false;
$form-legend-text-align: center;
$form-line-start: center;
$form-set-will-change: false;

@import "Variables";
@import "allsub";
